$darkblueColor: #303976;
$greenColor: #277a4b;
$blueColor: #26556c;

$thickTextGrayColor: #4d4d4d;
$textColor: #333;

$smallScreen: 769px;
$normalScreen: 1200px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

// Landing page

.navigation-open {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0;
    background-color: unset;
    color: $thickTextGrayColor;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.6rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    cursor: pointer;

    @media only screen and (max-width: $smallScreen) {
        display: block;
    }
}

.landing-page-header {
    height: 100vh;
    width: 100vw;
    
    padding: 5vw;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > div {
        text-align: center;
        img {
            height: 30vh;
        }
        h1 {
            margin-top: 1rem;
            margin-bottom: 1rem;

            font-weight: 400;
            font-size: 5rem;
        }
        p {
            margin-top: 1rem;

            font-size: 2.4rem;
            font-weight: 300;
            color: #b3b3b3ff;
        }
    }

    @media only screen and (max-width: $smallScreen) {
        & > div {
            img {
                width: 67vw;
                height: auto;
            }
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.4rem;
            }
        }
    }
}

.divider {
    display: flex;
}

nav.sidebar {
    height: 100vh;
    width: 26rem;

    background-color: $darkblueColor;
    top: 0px;
    position: sticky;

    transition: left 0.3s;
    

    .navigation-back-container {
        display: none;
        text-align: right;
        .navigation-back {
            display: inline-block;
            border: 0;
            background-color: unset;
            color: white;
            font-size: 2rem;
            font-weight: 600;
            padding: 1.2rem;
            padding-right: 1.6rem;
            padding-left: 1.6rem;
            cursor: pointer;
        }
    }

    .sidebar-container {
        height: 100vh;

        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        img.logo {
            width: 12rem;
        }
        
        a {
            color: white;
            text-decoration: none;
        }

        .nav-link-container {
            margin-top: 1.4em;
            margin-bottom: 1.4em;

            font-size: 1.4em;
            text-align: center;
            a {
                display: block;
                text-align: center;
            }
            .separator {
                margin-top: 0.3em;
                margin-bottom: 0em;
                height: 1.6em;
                display: inline-block;
            }
        }

        .lang-link-container {
            .lang-link {
                margin-left: 0.3em;
                margin-right: 0.3em;
                text-transform: uppercase;
                &.selected {
                    text-decoration: underline;
                }
            }
        }
    }

    @media only screen and (max-width: $smallScreen) {
        position: fixed;
        left: -100vw;
        top: 0;
        width: 100vw;
        height: 100vh;

        .navigation-back-container {
            display: block;
        }

        .sidebar-container {
            margin-top: -4.4rem;
            padding: 3em;
            .nav-link-container {
                .separator {
                    height: 1.2em;
                }
            }
        }
    }
}

.right-side {
    flex: 1;

    .landing-page-content {
        padding: 2rem;
        padding-left: 12vw;
        padding-right: 12vw;

        a {
            font-weight: 400;
            color: $greenColor;
            text-decoration: underline;
        }

        .way-el {
            margin-top: 5rem;
            margin-bottom: 5rem;
            display: flex;

            &.right {
                flex-direction: row-reverse;
                .descr {
                    margin-right: 2em;
                }
            }
            &.left {
                .descr {
                    margin-left: 2em;
                }
            }

            .img-container {
                flex: 1;
                img {
                    width: 100%;
                }
            }

            .descr {
                flex: 1;
                
                h2 {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: 400;
                    font-size: 2.8rem;
                }
                p {
                    margin-top: 0;
                    font-size: 1.6rem;
                    font-weight: 300;
                    color: $thickTextGrayColor;
                }
            }


            @media only screen and (max-width: $normalScreen) {
                flex-direction: column;
                &.right {
                    flex-direction: column;
                    .descr {
                        margin: 0;
                    }
                }
                &.left {
                    .descr {
                        margin: 0;
                    }
                }
                
            }
        }
    }
}

// SECTION

.section-nav {
    background-color: #303976;
    background: $darkblueColor;
    background: linear-gradient(90deg, $greenColor 0%, $darkblueColor 80%);

    display: flex;
    padding: 0.6rem;
    justify-content: center;
    align-items: center;

    .logo {
        img {
            margin-left: 2rem;
            margin-right: 2rem;
            height: 4rem;
        }
    }

    .navigate {
        a {
            color: white;
            text-decoration: none;
            font-size: 1.2em;
        }
    }
}

header.image-header{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: 50%;
}

.section-title {
    margin-top: -3rem;
    text-align: center;
    h1 {
        margin: 0px;
        margin-left: 1em;
        margin-right: 1em;
        display: inline-block;
        padding: 0.8rem;
        padding-left: 3rem;
        padding-right: 3rem;
        background-color: $darkblueColor;
        color: white;
        font-size: 3rem;
        font-weight: 500;

        @media only screen and (max-width: $normalScreen) {
            font-size: 2.4rem;
        }
    }
}

main.section {
    .text-piece {
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
        max-width: 800px;

        padding-left: 1em;
        padding-right: 1em;

        font-size: 1.6rem;
        font-weight: 200;
        color: $textColor;
    }
}

// Footer

footer {
    padding: 2.6rem;
    background-color: $blueColor;

    text-align: center;
    font-weight: 200;
    font-size: 1.2rem;
    color:  white;
}